@import url('https://fonts.googleapis.com/css?family=Rakkas|Sanchez&display=swap');

/*
	Fonts used:
	font-family: 'Rakkas', cursive;
	font-family: 'Sanchez', serif;
*/

body {
	font-size: 16px;
	font-family: 'Sanchez', serif;
	padding: 10px;
	margin: 10px;
	/* This is my body aligning */
}

h1, h2, h3 {
	font-family: 'Rakkas', cursive;
}

aside {
	width: 15%;
	float: left;
	/* This is my aside aligning */
}

footer {
	width: 95%;
	clear: both;
	/* This is my footer aligning */
}

header {
	width: 95%;
	/* This is my header aligning */
}

img {
	max-width: 75%;
}

main {
	box-sizing: content-box;
	width: 75%;
	float: left;
	/* This is my main aligning */

}

nav {
	width: 10%;
	float: left;
	/* This is my nav aligning */
}

#copyright {
	font-size: 80%;
}

#main-container {
	box-sizing: border-box;
	/* This is my container aligning */
}